*{
    margin: 0;
    padding: 0;
}
body{
    background-color: royalblue;
    font-family: 'Poppins', sans-serif;
}
main{
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
}
section{
    background-color: rgb(248, 238, 238);
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
}

.player img{
    width: 50px;
    display:inline-block;
    margin: 5px 10px;
    padding-left: 50px;
}
.players , .player{
    display: flex;
    align-items: center;   
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 100px;
}
.blog img{
    width: 280px;
    display: inline-block;
   
}

.section-title h1{
    color: rgb(26, 161, 161);
   padding: 0 0 10px 10px;
   text-align: center;
}
@media (max-width:992px){
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:992px){
    .blogs{
        grid-template-columns: repeat(2, 1fr);
        padding-left: 135px;
    }
    .blogs img{
        width: 200px;
    }
}
@media (max-width:662px){
    .players , .blogs{
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        align-items: center;
        padding-left: 60px;
    }
}
 @media (max-width:668px){
    .blogs{
        grid-template-columns: repeat(1, 1fr);
        padding-left: 65px;
    }
    .blog img{
        width: 250px;
    }
}